.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding: 40px 15px;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__social-list {
    display: flex;
    padding: 0;
}

.footer__social-item {
    padding-right: 10px;
}

 .footer__nav-item {
    padding-bottom: 10px;
}

.footer__info-item {
    padding-bottom: 10px;
}

.footer .socials {
    padding: 0;
}

.footer__nav-list, .footer__info-list {
    padding: 0;
}
