.footer .container {
    display: flex;
}

.footer__logo-wrap {
    width: 30%;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__social-list {
    display: flex;
    padding: 0;
}

.footer__social-item {
    padding-right: 10px;
}

.footer__nav-list {
    width: 20%;
}

 .footer__nav-item {
    padding-bottom: 10px;
}

.footer__info-list {
    width: 20%;
}

.footer__info-item {
    padding-bottom: 10px;
}

.socials {
}

.socials__link {
}

.socials__icon {
}