@media (max-width: 1350px) {
    .welcome__updates-lines, .welcome__lines {
        display: none;
    }
}

.menu-icon {
    width: 40px;
    height: 30px;
    position: relative;
    background-color: transparent;
    border: none;
}

.menu-icon::after, .menu-icon::before {
    content: '';
    position: absolute;
    left: 0;
}

.menu-icon::before {
    top: 0;
    transition: transform 0.3s, top 0.3s 0.3s;
}

.menu-icon::after {
    bottom: 0;
    transition: transform 0.3s, bottom 0.3s 0.3s;
}

.menu-icon__line, .menu-icon::after, .menu-icon::before {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
}

.menu-icon--active .menu-icon__line {
    display: none;
}

.menu-icon--active::before {
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
    transition: top 0.3s, transform 0.3s 0.3s;
}

.menu-icon--active::after {
    transform: translateY(50%) rotate(-45deg);
    bottom: 50%;
    transition: bottom 0.3s, transform 0.3s 0.3s;
}

.menu-icon {
    display: none;
}

@media (max-width: 1118px) {
    .footer__logo {
        /*margin-left: 100px;*/
    }

    .footer__nav-list {
        margin-left: 100px;
    }

    .header .container {
        flex-direction: column;
    }

    .header__nav {
        display: none;
    }

    .logo__wrap {
        width: 100%;
    }

    .header {
        grid-template-columns: repeat(2, max-content);
        grid-template-areas: "logo menu-icon";
    }

    .menu-icon {
        display: block;
        grid-area: menu-icon;
    }

    .header--mobile {
        min-height: 100vh;
    }

    .header--mobile .header__nav {
        display: block;
    }

    .header--mobile .header__nav li:not(:last-child) {
        margin-bottom: 20px;
    }

    .header--mobile .header__nav a {
        font-size: 35px;
    }

    .header__nav-wrap {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__nav {
        transform: none;
        padding-left: 0;
    }

    .header__nav a {
        padding: 10px 20px;
    }

    .no-scroll {
        overflow: hidden;
    }

    button {
        -webkit-tap-highlight-color: transparent;
    }

}

@media (max-width: 1020px) {
    .welcome .container {
        flex-direction: column;
        align-items: center;
    }

    .welcome__img-wrapper {
        width: 100%;
    }

    .welcome__title,.welcome__title-level {
        font-size: 45px;
    }

    .welcome__underline {
        display: none;
    }

    .title {
        font-size: 36px;
    }

    h2 {
        font-size: 36px;
    }

    .episodes__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        /*background-color: #000000;*/
        /*border-radius: 32px;*/
        /*padding: 40px;*/
        /*margin-bottom: 60px;*/
    }

    .episodes__img-wrapper {
        margin-right: 0;
        margin-bottom: 20px;
    }

}

@media (max-width: 575px) {
    .episodes__top-content {
        flex-direction: column;
    }

    .episodes__top-content .title {
        margin-bottom: 20px;
    }

    .episodes__img {
        width: 100%;
    }

}
