.welcome .container{
    display: flex;
    margin-bottom: 50px;
}

.container {
}

.welcome__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 110px 60px 0;
}

.welcome__img-wrapper {
    width: 615px;
    flex-shrink: 0;
}

.welcome__img {

}

.welcome__title {
    font-size: 70px;
    line-height: 1.26;
    letter-spacing: 3px;
    margin-bottom: 74px;
}

.welcome__title-level {
    font-size: 80px;
    font-weight: 700;
}

.welcome__text {
    font-size: 15px;
    line-height: 24px;
    margin: 0 0 16px 22px;
}

.socials {
    display: flex;
    gap: 17px;
    padding: 0 0 0 22px;
}

.socials__img {
    display: flex;
}
